<!DOCTYPE html>
<html lang="en">

<body>
  <div class="search-container">
    <form #generateUrl ="ngForm" (ngSubmit) = "createUrl(generateUrl.value)">
      <input type="text" placeholder="Enter Url.." name="url" ngModel>
      <button class="button" style="vertical-align:middle"><span>Shorten </span></button>
    </form>
    
    <div *ngIf = "isavailable" class="search-result"> 
        <span *ngIf = "isavailable">
          <div class="search-inresult">
              <p class="short-url">{{resultData}}</p>
        </div>
        </span> 
    </div> 
  </div>
</body>
</html>