<!DOCTYPE html>
<html>

<head>
  <title>Url Shortner</title>
</head>

<body>
  <div class="main-component">
    <header>
      <div class="container">
        <img src="../assets/img/scissors.png">
        <h1 class="main-header">Url Shortner</h1>
        
        <nav>
          <ul>
            <li><a routerLink="/search">Home</a></li>
            <li><a routerLink="/list">ViewAll</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>

</body>

</html>